ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #bbb;
  }

  li {
    float: left;
  }
  
.nav-link{
    display: block;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    margin : 4px;
    cursor: pointer;
    border-radius: 4px;
  }
.nav-link:hover{
    background-color: #ddd;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

li:hover .dropdown-content {
    display: block;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.dropdown-content .nav {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content .nav:hover{ background-color: #bbb;}



/* 
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ddd;
  }
  
  li {
    float: right;
  }
  
  li Link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li Link:hover:not(.active) {
    background-color: #111;
  }
  
.active {
    background-color: #04AA6D;
  }

.nav-item:hover .dropdown-content {
    display: block;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropdown-content Link {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    cursor: pointer;
  }
  .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: #4cef50;
    font-family: inherit;
    margin: 0;
  } */