.user-profile-section{
    background-color: #fff;
    margin: 0px 80px 40px 80px;
    border-radius: 0px 0px 100px 100px;
    padding-bottom: 50px;
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.2);
    border: 15px solid #f2f2f2;
    border-top: 0px;
    z-index: -1000;
}

.user-profile-header{
    background-color: #161752;
    padding: 30px;
    color: #fff;
    position: relative;
}
.user-profile-img{
    position: absolute;
    left: 80%;
    top: 30px;
}
.user-profile-header h3{ 
    font-family: 'Trebuchet MS', sans-serif;
    margin-left: 40px;
    font-size: 28px;
 }
.user-profile-img img{
    width: 60%;
    border-radius: 20px;
}

.user-profile-about{
    background-color: ;
    padding-top: 3%;
}
.user-profile-about h3{ 
    margin-left: 30px;
    margin-bottom: 0px;
}
.user-profile-about-details{
    background-color: #f3f3f3;
    margin: 0px 30px;
    width: 70%;
    border-radius: 5px;
    padding: 5px;
}
.user-profile-about-details p{
    margin-bottom: 5px;
}

.user-profile-cards{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.user-profile-card{
    background-color: #f2f2f2;
    border:5px solid #fff;
    padding: 10px 25px;
    border-radius: 25px;
    text-align: center;
    margin-top: 20px;
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.2);
}
.user-profile-card p{
    margin-bottom: 5px;
}