.temple-details-container {
    text-align: center;
    margin-top: 20px;
    margin: 10px 20px;
    padding: 20px;
  }
  
  .temple-header {
    background-color: #ddd;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .temple-name {
    font-size: 36px;
    color: #333;
  }
  
  .temple-columns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .first-column {
    width: 65%;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }
  
  .temple-image-row {
    display: flex;
    margin-bottom: 10px;
  }
  
  .temple-details-image {
    width: 60%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #temple-details-column {
    width: 28%;
    text-align: left;
    align-items: center;
    justify-content: center;
    padding: 15px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  }
  
  .temple-detail {
    margin-bottom: 10px;
  }
  
  .temple-about-row {
    padding: 15px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    margin-bottom: 20px;
    text-align: left;
  }
  
  .second-column {
    width: 30%;
  }
  
  .temple-details-card {
    background-color: dodgerblue;
    color: #fff;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .upcoming-events-card h3,
  .stay-facilities-card h3,
  .make-donations-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .book-rooms-button,
  .donate-button {
    background-color: #fff;
    color: #333;
    border-radius: 7px;
  }